{% extends 'base.html'%}

{% block content%}

     {% for message in get_flashed_messages()%}
     <div class="message_flash_container">
        <div class="message_flash1">{{message}}</div>
       </div>
      {% endfor %}     
        <br> 
<section id="registration"> 
    <div class="form-div-container">   
        <div class="form-container-l">
            <h2 style="color: #fff;">Login</h2>
                <br><br>
                    <form action="{{url_for('login_l')}}" method="post">
                       <div class="rw1-l">
                         <input type="text" class="form-input" placeholder="username" name="l_username">
                            </div>
                            <div class="rw1-l">
                              <input type="password" class="form-input" placeholder="password" name="l_password">
                             </div>
                              <div class="form-div-btn">
                              <button class="form-btn" type="submit">Login</button>
                             </div>
                </div>
                        </form>
                    </div>
          
        </div>
    </div> 
</section>
{% endblock %}
